<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1071136500753-8hp10op1f3innekbna7dg74fh240uf3t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1071136500753-8hp10op1f3innekbna7dg74fh240uf3t</string>
	<key>API_KEY</key>
	<string>AIzaSyDh_v8pDe59OHIxcMoL5VZmF2ud8hHbzSc</string>
	<key>GCM_SENDER_ID</key>
	<string>1071136500753</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kaka.Flazze</string>
	<key>PROJECT_ID</key>
	<string>flazze-64fff</string>
	<key>STORAGE_BUCKET</key>
	<string>flazze-64fff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1071136500753:ios:c4d4b3d072d1c4c1</string>
	<key>DATABASE_URL</key>
	<string>https://flazze-64fff.firebaseio.com</string>
</dict>
</plist>